@import 'https://fonts.googleapis.com/css?family=Lobster';

html {
    height: 100%;
    background: linear-gradient(to bottom, #FC354C , #0ABFBC);
}

.container{
    border: 1px solid rgba(192, 52, 38, 0.9);
    border-radius: 3px;
    background: rgba(4, 60, 75, 0.58);
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right:35%;
    color: rgba(192, 52, 38, 0.9);
}

.name_container{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.pass_container{

    display: block;
    margin-left: 5%;
    margin-right: 5%;


}

input[type="text"]{
    font-size: 20px;
    width: 91%;
    border: 1px solid rgba(192, 52, 38, 0.9);
    background: rgba(4, 60, 75, 0.58);
    color: rgba(192, 52, 38, 0.9);

}

input::-webkit-input-placeholder{
    color: rgba(192, 52, 38, 0.9);
}

input[type='password']{
    font-size: 20px;
    width: 91%;
    margin-bottom: 10px;
    border: 1px solid rgba(192, 52, 38, 0.9);
    background: rgba(4, 60, 75, 0.58);
    color:rgba(192, 52, 38, 0.9);

}

.name, .pass{
    width: 20px;
    height: 25px;
}

.svg-icon{
    stroke: rgba(192, 52, 38, 0.9);
    stroke-width: 1;
    fill: none;
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(192, 52, 38, 0.9);
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Lobster', cursive;;
}

a{

    text-decoration: none;
    color: rgba(192, 52, 38, 0.9);

}

button[type="button"]{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid rgba(192, 52, 38, 0.9);
    background: rgba(4, 60, 75, 0.58);
    color:rgba(192, 52, 38, 0.9);
    margin-bottom: 10px;
    margin-top: 10px;
}

button[type='button']:hover{
    background: rgba(192, 52, 38, 0.51);
}

.forgot{

    height: auto;
    text-align: center;
    padding: 20px;
}

a:hover{
    color: rgba(27, 52, 255, 0.51);
}
